body{
  /*background-color: rgb(171, 202, 232);*/
  background-color:rgb(171, 202, 232);
  /*background-image: url('http://cdn.lifebuzz.com/images/150575/lifebuzz-ba6e4396e71a5699e439b1b023844e51-limit_2000.jpg');
  background-size:     cover;                      /* <------ */
    /*background-repeat:   no-repeat;*/
    /*background-position: center center; */
}

h1{
  color: rgb(255, 255, 255);
  background-color:rgb(171, 202, 232);
  font: 40pt lucida console,palatino,fantasy;
}
h2{
  color: rgb(255, 255, 255);
  background-color:rgb(171, 202, 232);
  font: 36pt fantasy;

}
h3{
  color:rgb(255, 255, 255);
  font: bold 30pt trebuchet,fantasy;
}
h4{
  color:rgb(255, 255, 255);
  font: bold 20pt trebuchet,fantasy;
}
p{
  color:rgb(255, 255, 255);
  font: 14pt trebuchet,fantasy;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
.arrowicon{
  max-width: 10px;
  max-height:10px;
  position: relative;
  margin: auto;
}
.text{
  color: rgb(255, 255, 255);
  background-color:rgb(0,0,0,0.5);
  font: bold 18pt monospace,fantasy;
  font-style: oblique;
}
.topnav {
    background-color: rgb(0,0,0,0.8);
    overflow: hidden;
}
.topnav-logo {
    color:rgb(255,255,255);
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: rgb(0,0,0,0.3);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
img {
  max-width:100%;
  height: auto;
}
* {box-sizing:border-box}

.transparent{
  background-color:transparent!important;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption text */
.text {
  color: rgb(239, 239, 237);

  font-style:oblique;
  font-size: 28px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
.profile-form{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: trebuchet, "Times New Roman", Times, serif;

}
.profile-form fieldset{
    border: none;
}
.profile-form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    color:rgb(247, 183, 81);
}
.profile-form label {
    display: block;
    margin-bottom: 8px;
    font-size:1.4em;
    color:rgb(247, 183, 81);
    font: trebuchet;
}
.profile-form input[type="text"],
.profile-form textarea,
.profile-form select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.profile-form input[type="text"]:focus,
.profile-form textarea:focus,
.profile-form select:focus{
    background: #d2d9dd;
}
.profile-form select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.profile-form .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.profile-form input[type="submit"],
.profile-form input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.profile-form input[type="submit"]:hover,
.profile-form input[type="button"]:hover
{
    background: #109177;
}
.flex {
        /* basic styling */
    width: 1000px;
    height: 200px;
    border: 1px solid #555;
    font: 20px fantasy;

        /* flexbox setup */
    display: flex;
    flex-direction: row;
}

.flex > div {
    flex: 1 1 auto;
    width: 30px;
    transition: width 0.7s ease-out;
}

    /* colors */
.flex > div:nth-child(1){ background: rgb(247, 205, 98); }
.flex > div:nth-child(2){ background: rgb(255, 255, 255); }
.flex > div:nth-child(3){ background: rgb(247, 205, 98); }

.flex > div:hover {
    width: 200px;
}
a {
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #dff3fd;
}
a:visited {
  color: #dff3fd;
}
li.active a, a:hover, a:active {
  color: #e5e5e5;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*.centered-y {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}*/

.distribution-map {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.distribution-map > img {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.distribution-map > button {
  display:inline-block;
  vertical-align: middle;
  background-size:100%;
  height:30px;
  width:30px;
}
.distribution-map .map-point {
  cursor: pointer;
  outline: none;
  z-index: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);*/
  opacity: 0.8;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
  -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
  -webkit-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  background: rgba(26, 26, 26, 0.85);
  border: 5px solid #7fcff7;
}

.distribution-map .map-point .content {
  /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);*/
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(10%),translateY(80%);
  /*-webkit-transform: translateY(20%);*/
  transform: translateX(10%),translateY(80%);
  /*transform: translateY(-10%);*/
  overflow: overlay;
}
.distribution-map .map-point:active, .distribution-map .map-point:focus {
  margin: 0;
  padding: 0;
  /*filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);*/
  opacity: 1;
  width: 300px;
  height: 220px;
  color: #e5e5e5;
  z-index: 1;
  -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
}
.distribution-map .map-point:active .content, .distribution-map .map-point:focus .content {
  /*filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);*/
  opacity: 1;
  -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -webkit-transition-delay: 0.25s, 0s, 0s;
  -webkit-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  overflow: hidden;
}
.distribution-map .map-point:active .content a:hover, .distribution-map .map-point:active .content a:active, .distribution-map .map-point:focus .content a:hover, .distribution-map .map-point:focus .content a:active {
  color: #afe1fa;
}
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: trebuchet, arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
